.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
}

.card__list-item {
  margin: 0 0 16px;
  display: flex;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px solid #000;
  flex-grow: 1;
}
