.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: none;
  width: 385px;
  padding: 0;
  margin: 0;
}

.form__input {
  display: block;
  font-weight: 500;
  margin: 8px 0 32px 0;
  padding: 0;
  border: 1px solid #838383;
  border-radius: 4px;
  align-self: flex-start;
  max-width: 385px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  align-items: stretch;
  width: 385px;
}

.form__label {
  align-self: center;
  font-weight: 500;
  margin: 0;
  width: 385px;
  align-items: stretch;
}

.form__button {
  border-radius: 4px;
  font-weight: 500;
  margin: 0;
  transition: opacity 0.15s ease-in-out;
  height: 60px;
  color: #ffffff;
  background-color: #2f80ed;
  border: 0;
  width: 385px;
  align-self: center;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  display: flex;
  align-self: center;
  margin-bottom: 120px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 32px;
  padding: 0px;
  gap: 12px;
}

/* Hide default checkbox */
.form__checkbox-hidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* New checkbox - checked */
.form__checkbox-hidden:checked ~ .form__checkbox-visible {
  display: flex;
  height: 20px;
  width: 20px;
  background: #2f80ed url(../images/check.svg) no-repeat center;
}

/* New checkbox - unchecked */
.form__checkbox-visible {
  display: flex;
  height: 20px;
  width: 20px;
  background-color: #2f80ed;
  border-radius: 2px;
}

.form__text {
  font-weight: 500;
}
