.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
}

.nav__link:hover {
  color: #2f80ed;
  text-decoration: none;
}
